### Rent Stabilization Data

In [1]:
import pandas as pd
df = pd.read_csv("./MLC_SP23/clean_data/rs_shares_19_21.csv", low_memory=False)

In [2]:
# Read the rent stabilization data.

df.head()

,bbl,rs_units_19,rs_units_20,rs_units_21,total_units_19,total_units_20,total_units_21,boro,cd,ct_10,year_built,geometry,rs_share_19,rs_share_20,rs_share_21
0,1000297501,2,2,2,39,39,39,1,101,9,1920,"list(list(c(981385.124816895, 981358.89127636,...",0.051282,0.051282,0.051282
1,1000780047,483,483,483,483,483,483,1,101,1502,2016,"list(list(c(982136.755212307, 982187.340740204...",1.000000,1.000000,1.000000
2,1000787510,28,28,28,29,29,29,1,101,1502,1929,"list(list(c(982310.84345293, 982263.685076714,...",0.965517,0.965517,0.965517
3,1001350019,4,4,4,4,4,4,1,101,21,1915,"list(list(c(982179.2794137, 982138.755547523, ...",1.000000,1.000000,1.000000
4,1001477503,1,1,1,6,6,6,1,101,33,1898,"list(list(c(982289.899597645, 982235.198579788...",0.166667,0.166667,0.166667

In [3]:
# Create a new column. This will be our target variable. 

df['rs_share_diff'] = df['rs_share_21'] - df['rs_share_19']

In [4]:
# Leave only the necessary cols 

df = df[['bbl','rs_share_diff']]
df.describe()

                bbl  rs_share_diff
count  4.402500e+04   44025.000000
mean   2.446214e+09      -0.174922
std    1.128528e+09       0.588067
min    1.000078e+09     -74.000000
25%    1.019660e+09      -0.100000
50%    3.009500e+09       0.000000
75%    3.056760e+09       0.000000
max    5.080470e+09      10.000000

In [5]:
df

              bbl  rs_share_diff
0      1000297501       0.000000
1      1000780047       0.000000
2      1000787510       0.000000
3      1001350019       0.000000
4      1001477503       0.000000
...           ...            ...
44020  4001360036       1.000000
44021  4019390011       1.000000
44022  4049590008       0.857143
44023  4052630021       1.042553
44024  5000180090       0.631579

[44025 rows x 2 columns]

### Eviction Data

In [6]:
# Read

eviction = pd.read_csv('./MLC_SP23/clean_data/Evictions_2019_cleaned.csv', index_col=[0])
eviction

               BBL  ejectment_count  possession_count  eviction_count
0     1.000158e+09                0               2.0             0.0
1     1.000160e+09                0               5.0             0.0
2     1.000168e+09                0               1.0             0.0
3     1.000168e+09                0               1.0             0.0
4     1.000168e+09                0               1.0             0.0
...            ...              ...               ...             ...
9906  5.078670e+09                0               1.0             0.0
9907  5.078800e+09                0               2.0             0.0
9908  5.078910e+09                0               1.0             0.0
9909  5.080260e+09                0               2.0             0.0
9910  5.080480e+09                0               1.0             0.0

[9911 rows x 4 columns]

In [7]:
eviction.columns = map(str.lower, eviction.columns)

In [8]:
# Merge

df = df.merge(eviction, on='bbl', how = 'left').fillna(0)
df

,bbl,rs_share_diff,ejectment_count,possession_count,eviction_count
0,1000297501,0.000000,0.0,0.0,0.0
1,1000780047,0.000000,0.0,0.0,0.0
2,1000787510,0.000000,0.0,0.0,0.0
3,1001350019,0.000000,0.0,0.0,0.0
4,1001477503,0.000000,0.0,0.0,0.0
...,...,...,...,...,...
44020,4001360036,1.000000,0.0,0.0,0.0
44021,4019390011,1.000000,0.0,0.0,0.0
44022,4049590008,0.857143,0.0,0.0,0.0
44023,4052630021,1.042553,0.0,2.0,0.0
44024,5000180090,0.631579,0.0,0.0,0.0

### DCP Data

In [9]:
# Read

dcp = pd.read_csv('./MLC_SP23/clean_data/HousingDB_post2010_completed_jobs_cleaned.csv', index_col=[0])
dcp.columns = map(str.lower, dcp.columns)
dcp

              bbl  aleration_count  classanet_avg  enlargement_count
0      1000057501                1            0.0                  0
1      1000080039                1          -21.0                  0
2      1000110012                1            1.0                  0
3      1000130027                1            0.0                  0
4      1000150022                1            0.0                  0
...           ...              ...            ...                ...
18346  5080400023                1            0.0                  0
18347  5080460059                1            0.0                  1
18348  5080470090                1            0.0                  0
18349  5080480012                1            0.0                  0
18350  5080500060                1            0.0                  1

[18351 rows x 4 columns]

In [10]:
# Merge

df = df.merge(dcp, on='bbl', how = 'left').fillna(0)
df

,bbl,rs_share_diff,ejectment_count,possession_count,eviction_count,aleration_count,classanet_avg,enlargement_count
0,1000297501,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
1,1000780047,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2,1000787510,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
3,1001350019,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4,1001477503,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
44020,4001360036,1.000000,0.0,0.0,0.0,0.0,0.0,0.0
44021,4019390011,1.000000,0.0,0.0,0.0,0.0,0.0,0.0
44022,4049590008,0.857143,0.0,0.0,0.0,0.0,0.0,0.0
44023,4052630021,1.042553,0.0,2.0,0.0,0.0,0.0,0.0
44024,5000180090,0.631579,0.0,0.0,0.0,0.0,0.0,0.0

### 311 Data

In [11]:
# Read

calls = pd.read_csv('./MLC_SP23/raw_data/calls_311_data.csv', index_col=[0])
calls

,BBL,HPD_calls_2017,HPD_calls_2018,HPD_calls_2019,HPD_calls_2020,HPD_calls_2021,HPD_calls_2022,HPD_calls_2017_19,DOB_calls_2017,DOB_calls_2018,DOB_calls_2019,DOB_calls_2020,DOB_calls_2021,DOB_calls_2022,DOB_calls_2017_19
0,0.000000e+00,11.0,47.0,42.0,13.0,19.0,85.0,100.0,124.0,69.0,60.0,48.0,21.0,17.0,253.0
1,1.000020e+09,0.0,0.0,1.0,0.0,0.0,7.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.000070e+09,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.000078e+09,8.0,5.0,2.0,5.0,0.0,5.0,15.0,0.0,1.0,3.0,1.0,0.0,2.0,4.0
4,1.000100e+09,7.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,2.0,2.0,0.0,0.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242992,5.080490e+09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
242993,5.080500e+09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
242994,5.200060e+09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
242995,5.240010e+09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
242996,5.270001e+09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [12]:
calls.isnull().values.any()

False

In [13]:
calls_col = ['BBL'] + ['HPD_calls_' + str(i) for i in range(2017,2020)] + ['DOB_calls_' + str(i) for i in range(2017,2020)]
calls_col

['BBL',
 'HPD_calls_2017',
 'HPD_calls_2018',
 'HPD_calls_2019',
 'DOB_calls_2017',
 'DOB_calls_2018',
 'DOB_calls_2019']

In [14]:
calls = calls[calls_col]
calls

,BBL,HPD_calls_2017,HPD_calls_2018,HPD_calls_2019,DOB_calls_2017,DOB_calls_2018,DOB_calls_2019
0,0.000000e+00,11.0,47.0,42.0,124.0,69.0,60.0
1,1.000020e+09,0.0,0.0,1.0,0.0,0.0,0.0
2,1.000070e+09,0.0,0.0,0.0,0.0,0.0,0.0
3,1.000078e+09,8.0,5.0,2.0,0.0,1.0,3.0
4,1.000100e+09,7.0,0.0,0.0,0.0,2.0,2.0
...,...,...,...,...,...,...,...
242992,5.080490e+09,0.0,0.0,0.0,0.0,0.0,0.0
242993,5.080500e+09,0.0,0.0,0.0,1.0,0.0,0.0
242994,5.200060e+09,0.0,0.0,0.0,0.0,0.0,0.0
242995,5.240010e+09,0.0,0.0,0.0,0.0,0.0,0.0
242996,5.270001e+09,0.0,0.0,0.0,0.0,1.0,0.0

In [15]:
calls.columns = map(str.lower, calls.columns)

In [16]:
# Merge

df = df.merge(calls, on='bbl', how = 'left').fillna(0)

### Code Violations Data

In [17]:
code = pd.read_csv('./MLC_SP23/raw_data/violations_data.csv', index_col=[0])
code

,bbl,b_violations_2017,b_violations_2018,b_violations_2019,b_violations_2020,b_violations_2021,b_violations_2022,b_violations_2023,b_violations_2017_19,c_violations_2017,c_violations_2018,c_violations_2019,c_violations_2020,c_violations_2021,c_violations_2022,c_violations_2023,c_violations_2017_19
0,0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
1,1000077501,1.0,1.0,0.0,1.0,1.0,0.0,0.0,2.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,3.0
2,1000157501,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
3,1000160100,1.0,1.0,1.0,1.0,1.0,0.0,0.0,3.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
4,1000160185,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75189,5079390092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
75190,5080240014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
75191,5080260038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
75192,5080410012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
75193,5080490004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [18]:
code.isnull().values.any()

True

In [19]:
import numpy as np
code = code.replace(np.nan, 0)

In [20]:
code

,bbl,b_violations_2017,b_violations_2018,b_violations_2019,b_violations_2020,b_violations_2021,b_violations_2022,b_violations_2023,b_violations_2017_19,c_violations_2017,c_violations_2018,c_violations_2019,c_violations_2020,c_violations_2021,c_violations_2022,c_violations_2023,c_violations_2017_19
0,0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
1,1000077501,1.0,1.0,0.0,1.0,1.0,0.0,0.0,2.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,3.0
2,1000157501,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
3,1000160100,1.0,1.0,1.0,1.0,1.0,0.0,0.0,3.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
4,1000160185,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75189,5079390092,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
75190,5080240014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
75191,5080260038,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
75192,5080410012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
75193,5080490004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [21]:
code.isnull().values.any()

False

In [22]:
code_col = ['bbl'] + ['b_violations_' + str(i) for i in range(2017,2020)] + ['c_violations_' + str(i) for i in range(2017,2020)]
code_col

['bbl',
 'b_violations_2017',
 'b_violations_2018',
 'b_violations_2019',
 'c_violations_2017',
 'c_violations_2018',
 'c_violations_2019']

In [23]:
code = code[code_col]
code

,bbl,b_violations_2017,b_violations_2018,b_violations_2019,c_violations_2017,c_violations_2018,c_violations_2019
0,0,1.0,0.0,0.0,1.0,0.0,0.0
1,1000077501,1.0,1.0,0.0,1.0,1.0,1.0
2,1000157501,0.0,0.0,0.0,1.0,0.0,0.0
3,1000160100,1.0,1.0,1.0,0.0,1.0,0.0
4,1000160185,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...
75189,5079390092,0.0,0.0,0.0,0.0,0.0,0.0
75190,5080240014,0.0,0.0,0.0,0.0,0.0,0.0
75191,5080260038,0.0,0.0,0.0,0.0,0.0,1.0
75192,5080410012,0.0,0.0,0.0,1.0,0.0,0.0
75193,5080490004,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
df = df.merge(code, on='bbl', how = 'left').fillna(0)
df

,bbl,rs_share_diff,ejectment_count,possession_count,eviction_count,aleration_count,classanet_avg,enlargement_count,hpd_calls_2017,hpd_calls_2018,hpd_calls_2019,dob_calls_2017,dob_calls_2018,dob_calls_2019,b_violations_2017,b_violations_2018,b_violations_2019,c_violations_2017,c_violations_2018,c_violations_2019
0,1000297501,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000780047,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,37.0,11.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1000787510,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,15.0,60.0,14.0,7.0,2.0,6.0,1.0,1.0,1.0,1.0,1.0,1.0
3,1001350019,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1001477503,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44020,4001360036,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44021,4019390011,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
44022,4049590008,0.857143,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44023,4052630021,1.042553,0.0,2.0,0.0,0.0,0.0,0.0,32.0,10.0,6.0,0.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0
44024,5000180090,0.631579,0.0,0.0,0.0,0.0,0.0,0.0,12.0,1.0,5.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0

### Litigations Data

In [25]:
lit = pd.read_csv('./MLC_SP23/raw_data/litigations_data_for_model.csv', index_col=[0])
lit

,bbl,cases_2017,cases_2018,cases_2019,cases_2020,cases_2021,cases_2022,cases_2023,cases_2030,cases_2017_19,...,CONH_2017_19,Tenant Action/Harrassment_2017,Tenant Action/Harrassment_2018,Tenant Action/Harrassment_2019,Tenant Action/Harrassment_2020,Tenant Action/Harrassment_2021,Tenant Action/Harrassment_2022,Tenant Action/Harrassment_2023,Tenant Action/Harrassment_2030,Tenant Action/Harrassment_2017_19
0,1000157501,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000160020,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1000160100,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
3,1000160185,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1000167519,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27835,5079360007,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27836,5079970052,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27837,5080200185,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27838,5080240014,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
27839,5080280074,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
col_list = ['bbl'] + [col for col in lit.columns if ('2017' in col or '2018' in col or '2019' in col) and ('2017_19') not in col]
col_list

['bbl',
 'cases_2017',
 'cases_2018',
 'cases_2019',
 'Heat and Hot Water_2017',
 'Heat and Hot Water_2018',
 'Heat and Hot Water_2019',
 'Tenant Action_2017',
 'Tenant Action_2018',
 'Tenant Action_2019',
 'CONH_2017',
 'CONH_2018',
 'CONH_2019',
 'Tenant Action/Harrassment_2017',
 'Tenant Action/Harrassment_2018',
 'Tenant Action/Harrassment_2019']

In [27]:
lit = lit[col_list]

In [28]:
lit

,bbl,cases_2017,cases_2018,cases_2019,Heat and Hot Water_2017,Heat and Hot Water_2018,Heat and Hot Water_2019,Tenant Action_2017,Tenant Action_2018,Tenant Action_2019,CONH_2017,CONH_2018,CONH_2019,Tenant Action/Harrassment_2017,Tenant Action/Harrassment_2018,Tenant Action/Harrassment_2019
0,1000157501,2.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000160020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1000160100,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1000160185,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1000167519,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27835,5079360007,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27836,5079970052,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
27837,5080200185,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27838,5080240014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27839,5080280074,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
lit.isnull().values.any()

False

In [30]:
lit = lit.replace(np.nan, 0)

In [31]:
df = df.merge(lit, on='bbl', how = 'left').fillna(0)

In [32]:
df

,bbl,rs_share_diff,ejectment_count,possession_count,eviction_count,aleration_count,classanet_avg,enlargement_count,hpd_calls_2017,hpd_calls_2018,...,Heat and Hot Water_2019,Tenant Action_2017,Tenant Action_2018,Tenant Action_2019,CONH_2017,CONH_2018,CONH_2019,Tenant Action/Harrassment_2017,Tenant Action/Harrassment_2018,Tenant Action/Harrassment_2019
0,1000297501,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000780047,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1000787510,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,15.0,60.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1001350019,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1001477503,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44020,4001360036,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44021,4019390011,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44022,4049590008,0.857143,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44023,4052630021,1.042553,0.0,2.0,0.0,0.0,0.0,0.0,32.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44024,5000180090,0.631579,0.0,0.0,0.0,0.0,0.0,0.0,12.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### ACS Data

In [33]:
acs = pd.read_csv("./MLC_SP23/clean_data/acs_bbl.csv", low_memory=False)
acs

,bbl,tract_19,tract_21,hh_inc_avg_19,hh_inc_med_19,hh_inc_own_med_19,hh_inc_rent_med_19,own_cost_mort_med_19,own_cost_nomort_med_19,own_burden_med_19,...,unit_occ_rent_nochild_pct_21,unit_rent_cash_pct_21,unit_rent_cash_low_pct_21,unit_rent_cash_moderate_pct_21,unit_rent_cash_mod_high_pct_21,unit_rent_cash_high_pct_21,rent_burden_pct_21,rent_burden_mod_pct_21,rent_burden_sev_pct_21,pop_race_div_idx_21
0,1012490146,36061017500,36061017500,257275.075804,165234.0,250001.0,104181.0,3521.0,993.0,9.0,...,0.272473,0.989612,0.194187,0.193783,0.134033,0.079128,0.336698,0.138878,0.197820,0.493686
1,1012500021,36061017500,36061017500,257275.075804,165234.0,250001.0,104181.0,3521.0,993.0,9.0,...,0.272473,0.989612,0.194187,0.193783,0.134033,0.079128,0.336698,0.138878,0.197820,0.493686
2,4020050027,36081042700,36081042700,69968.573731,63781.0,89375.0,56339.0,3485.0,1113.0,29.2,...,0.323013,0.985774,0.280985,0.116299,0.405772,0.090832,0.508489,0.189304,0.319185,0.265569
3,4015570033,36081046900,36081046901,57073.005220,44450.0,43036.0,44556.0,1426.0,594.0,19.1,...,0.270021,0.988706,0.119418,0.199377,0.445483,0.139148,0.650053,0.381760,0.268293,0.659184
4,1012490020,36061017500,36061017500,257275.075804,165234.0,250001.0,104181.0,3521.0,993.0,9.0,...,0.272473,0.989612,0.194187,0.193783,0.134033,0.079128,0.336698,0.138878,0.197820,0.493686
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43977,4007230065,36081016100,36081016100,86765.045992,74453.0,81875.0,73750.0,4001.0,1022.0,40.2,...,0.455017,0.975779,0.046099,0.164894,0.320922,0.274823,0.528369,0.285461,0.242908,0.683290
43978,4108190001,36081050000,36081050000,65339.853626,56150.0,109531.0,54000.0,3060.0,NaN,30.3,...,0.339198,0.935257,0.037622,0.601956,0.300978,0.020316,0.440933,0.224981,0.215952,0.549424
43979,1013420051,36061009800,36061009800,203334.629892,129167.0,191298.0,108719.0,4001.0,1237.0,13.2,...,0.271569,0.925009,0.030303,0.181031,0.110193,0.408894,0.510429,0.175128,0.335301,0.450237
43980,1012490026,36061017500,36061017500,257275.075804,165234.0,250001.0,104181.0,3521.0,993.0,9.0,...,0.272473,0.989612,0.194187,0.193783,0.134033,0.079128,0.336698,0.138878,0.197820,0.493686
43981,1012490115,36061017500,36061017500,257275.075804,165234.0,250001.0,104181.0,3521.0,993.0,9.0,...,0.272473,0.989612,0.194187,0.193783,0.134033,0.079128,0.336698,0.138878,0.197820,0.493686

In [34]:
acs.isnull().values.any()

True

In [35]:
acs[acs.isna().any(axis=1)] # need to impute missing values before merging.

,bbl,tract_19,tract_21,hh_inc_avg_19,hh_inc_med_19,hh_inc_own_med_19,hh_inc_rent_med_19,own_cost_mort_med_19,own_cost_nomort_med_19,own_burden_med_19,...,unit_occ_rent_nochild_pct_21,unit_rent_cash_pct_21,unit_rent_cash_low_pct_21,unit_rent_cash_moderate_pct_21,unit_rent_cash_mod_high_pct_21,unit_rent_cash_high_pct_21,rent_burden_pct_21,rent_burden_mod_pct_21,rent_burden_sev_pct_21,pop_race_div_idx_21
7,2028050051,36005023301,36005023301,41423.863636,30861.0,NaN,30444.0,NaN,644.0,32.5,...,0.247198,0.909690,0.274638,0.422464,0.287681,0.015217,0.605797,0.252899,0.352899,0.455008
9,2028140059,36005038100,36005038100,50530.093379,38905.0,NaN,38275.0,2658.0,548.0,25.5,...,0.302524,0.982136,0.205219,0.384737,0.352709,0.036773,0.741133,0.382797,0.358337,0.424942
11,1022200041,36061029100,36061029100,60929.544353,47054.0,62935.0,44643.0,NaN,NaN,9.0,...,0.314575,0.991888,0.203169,0.424994,0.240480,0.088423,0.521255,0.213323,0.307932,0.263700
12,1022180015,36061029100,36061029100,60929.544353,47054.0,62935.0,44643.0,NaN,NaN,9.0,...,0.314575,0.991888,0.203169,0.424994,0.240480,0.088423,0.521255,0.213323,0.307932,0.263700
13,1022200035,36061029100,36061029100,60929.544353,47054.0,62935.0,44643.0,NaN,NaN,9.0,...,0.314575,0.991888,0.203169,0.424994,0.240480,0.088423,0.521255,0.213323,0.307932,0.263700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43958,5031510001,36085005000,36085005000,110897.482014,81875.0,121250.0,41583.0,2861.0,927.0,21.8,...,0.249267,0.967742,0.509091,0.030303,0.212121,0.157576,0.881818,0.306061,0.575758,0.586848
43961,2023010049,36005003900,36005003900,61197.338403,25772.0,250001.0,22430.0,2103.0,NaN,9.0,...,0.197208,0.993246,0.436083,0.213055,0.253400,0.015866,0.636711,0.221319,0.415392,0.282780
43963,2035980013,36005003800,36005003800,73049.156627,33681.0,78750.0,28563.0,2950.0,995.0,36.3,...,0.345178,1.000000,0.370558,0.370558,0.258883,0.000000,0.411168,0.228426,0.182741,0.420441
43964,3068180082,36047055600,36047055600,83193.274620,55995.0,72308.0,48917.0,2900.0,772.0,22.1,...,0.282582,0.965895,0.100883,0.196721,0.484237,0.184111,0.611465,0.380892,0.230573,0.402386
43978,4108190001,36081050000,36081050000,65339.853626,56150.0,109531.0,54000.0,3060.0,NaN,30.3,...,0.339198,0.935257,0.037622,0.601956,0.300978,0.020316,0.440933,0.224981,0.215952,0.549424

1. Merging / Pre-Processing
2. Exploratory Data Analysis
3. Feature Engineering
4. Train, Test, Validation Split
5. Model Selection and Validation
6. Result and Analysis